doctype html
head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style 
        include ../Public/style.css
    title= title
body     
.nav.mynav
    a.active(href='/') Home 
    a(href='/OurServices') Our Services
    a(href='/Contactus') Contact Us
h1  SERVICES
h2  Learn about our most important services:
img(src='https://dynomapper.com/images/5_tips_for_creating_a_great_website.jpg' alt='services')
img(src='https://funtash.net/assets/front/img/blogs/1602327754.png' alt='services')
img(src='https://image.slidesharecdn.com/learnwebdevelopmentppt-171130051359/95/learn-web-development-become-certified-web-developer-1-638.jpg?cb=1512021507' alt='services')
